@font-face {
    font-family: Courier;
    src: url("../fonts/Courier Prime.ttf") ;
}
a{
    text-decoration: none;
}
.main-container{
    background: no-repeat url("../img/bckg-main.png");
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}
.head-menu{
    height: 54px;
    background-color: rgba(0,0,0,0.4117647058823529);
}
.name{
    font-family: Courier;
    margin-top: 19px;
    margin-left: 81px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
}
.name:hover{
    color: #3CB878;
    transition-duration: 0.5s;
}
.gallery{
    display: inline-block;
    margin-top: 15px;
    padding-left: 870px;
}
.sprite{
    background-image: url("../img/sprite1.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 28px;
}
.sprite-calendar{
    width: 19px;
    height: 19px;
    background-position: -10px -10px;
}
.sprite-calendar:hover{
    background-position: -49px -10px;
    transition-duration: 0.5s;
}
.sprite-forum {
    width: 28px;
    height: 20px;
    background-position: -10px -49px;
}
.sprite-forum:hover{
    background-position: -58px -49px;
    transition-duration:0.5s;
}
.sprite-journey {
    width: 20px;
    height: 20px;
    background-position: -106px -10px;
}
.sprite-journey:hover{
    background-position: -106px -50px;
    transition-duration: 0.5s;
}
.welcome{
    padding-left: 24px;
    margin-top: 10px;
    display: inline-block;
    font-family: Courier;
    font-size: 14px;
}
.grey-line{
    display: inline-block;
    background-color: #33312E;
    padding-left: 1px;
    padding-top: 19px;
    display: inline-block;
    margin-top: 16px;
}
.white-text{
    color: #FFF;
}
.green-text{
    color: #3CB878;
    border-bottom: 1px solid #2D2626;
}
.green-text:hover{
    border-bottom: 1px solid #3CB878;
    transition-duration: 0.5s;
}
.menu-container{
    margin: 50px auto;
    background-color: #FFF;
    width: 444px;
    height: 584px;
    border-radius: 15px;
}
.green-box{
    background-color: #3CB878;
    padding-left: 18px;
    padding-top: 18px;
    display: inline-block;
    margin-top: 29px;
}
.sign{
    display: inline-block;
    font-size: 20px;
    font-family: Courier;
    color: #434343;
    padding-left: 42px;
}
.log{
    display: inline-block;
    padding-left: 205px;
}
.green-text2{
    font-family: Courier;
    color: #3CB878;
    font-size: 14px;
    border-bottom: 1px solid #FFF;
}
.green-text2:hover{
    border-bottom: 1px solid #3CB878;
    transition-duration: 0.5s;
}
.fb-gl{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.fb-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 158px;
    height: 47px;
    background-color: #305DB8;
    border-radius: 5px;
}
.fb-box:hover{
    background-color: #264B96;
}
.fb-img{
    margin-right: 17px;
}
.blue-line{
    width: 1px;
    height: 28px;
    background-color: #224387;
}
.fb{
    color: #FFF;
    margin-left: 18px;
}
.gl-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    border: 0;
    width: 158px;
    height: 47px;
    background-color: #DF4A32;
    border-radius: 5px;
}
.gl-box:hover{
    background-color: #C3412C;
}
.gl-img{
    margin-right: 17px;
}
.red-line{
    width: 1px;
    height: 28px;
    background-color: #C8422D;
}
.gl{
    color: #FFF;
    margin-left: 18px;
}
.lines-or{
    text-align: center;
    margin-top: 17px;
}
.or{
    margin-left: 18px;
    margin-right: 18px;
    display: inline-block;
    color: #848484;
    font-size: 14px;
    font-family: Courier;
}
.grey-line-big{
    display: inline-block;
    width: 135px;
    padding-top: 1px;
    background-color: #EAEAEA;
}
.input-info-part{
    margin: 17px 60px 0 60px;
    text-align: center;
}
.input1{
    width: 332px;
    height: 46px;
    font-size: 14px;
    font-family: Courier;
    color: #434343;
    border: 1px solid #EAEAEA;
    padding-left: 18px;
}
.input2, .input3, .choose-password, .confirm-password{
    margin-top: 9px;
    width: 332px;
    height: 46px;
    font-size: 14px;
    font-family: Courier;
    color: #434343;
    border: 1px solid #EAEAEA;
    padding-left: 18px;
}
.input1:hover{
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    transition-duration: 0.5s;
}
.input1:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
    border: 0;
    outline: 0;
}
.input2:hover{
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    transition-duration: 0.5s;
}
.input2:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
    border: 0;
    outline: 0;
}
.input3:hover{
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    transition-duration: 0.5s;
}
.input3:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
    border: 0;
    outline: 0;
}
.choose-password:hover{
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    transition-duration: 0.5s;
}
.choose-password:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
    border: 0;
    outline: 0;
}
.confirm-password:hover{
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    transition-duration: 0.5s;
}
.confirm-password:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
    border: 0;
    outline: 0;
}
.for-checkbox{
    margin-top: 22px;
    text-align: center;
    font-size: 14px;
    font-family: Courier;
    color: #434343;
}
.checkbox-text-green{
    color: #56C18A;
    border-bottom: 1px solid #FFF;
}
.checkbox-text-green:hover {
    border-bottom: 1px solid #3CB878;
    transition-duration: 0.5s;
}
.create-account{
    background-color: #3CB878;
    margin-left: 62px;
    margin-top: 20px;
    border: 0;
    width: 332px;
    height: 46px;
    border-radius: 5px;
    font-family: Courier;
    font-size: 16px;
    color: #FFF;
}
.create-account:hover{
    background-color: #329A65;
}
.for-checkbox [type=checkbox]{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    -webkit-appearance: none;
    outline: 0;
    margin-right: 10px;
}
.for-checkbox [type=checkbox]:hover{
    background-color: #f4f4f4;
    transition-duration: 0.5s;
}
.for-checkbox [type=checkbox]:checked {
    content: url("../img/checkbox-green.png");
    padding: 3px 2px 3px 2px;
}
